/*
 * default light and dark styles based off github primer 
 * https://styleguide.github.com/primer/support/color-system/
 */

.cm-link {
  color: #032f62;
  text-decoration: underline;
}

.cm-heading {
  font-weight: bold;
}

.cm-emphasis {
  font-style: italic;
}

.cm-strong {
  font-weight: bold;
}

.cm-keyword {
  color: #708;
}

.cm-atom,
.cm-bool,
.cm-url,
.cm-contentSeparator,
.cm-labelName {
  color: #219;
}

.cm-literal,
.cm-inserted {
  color: #164;
}

.cm-deleted {
  color: #b31d28;
  background-color: #ffeef0;
}

.cm-inserted {
  color: #22863a;
  background-color: #f0fff4;
}

.cm-comment {
  color: #6a737d;
}

.cm-operator {
  color: #d73a49;
}

.cm-propertyName {
  color: #005cc5;
}

.cm-keyword {
  color: #d73a49;
}

.cm-string {
  color: #28a745;
}

.cm-string2 {
  color: #28a745;
}

.cm-typeName {
  color: #005cc5;
}

.cm-function.cm-definition {
  color: #6f42c1;
}

.cm-variableName.cm-definition {
  color: #e36209;
}

.cm-invalid {
  color: #b31d28;
}

.cm-number {
  color: #005cc5;
}
